<!DOCTYPE html>
<html ng-app="listaTelefonica">

<head>
    <meta charset="utf-8">
    <title>Lista Telefonica</title>
    <script src="lib/angular.min.js"></script>
    <link href="lib/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <style media="screen">
        .jumbotron {
            width: 400px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }

        .table {
            margin-top: 20px;
        }

        .form-control {
            margin-bottom: 10px;
        }

        th {
            text-align: center;
        }

        .selecionado {
            background-color: yellow;
        }
    </style>

    <script>
        angular.module("listaTelefonica", []);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope) {
            $scope.app = "Lista Telefonica";
            $scope.contatos = [{
                nome: "Pedro",
                telefone: "99998888"
            }, {
                nome: "Ana",
                telefone: "99998877"
            }, {
                nome: "Maria",
                telefone: "99998866"
            }];
            $scope.operadoras = [{
                nome: "Oi",
                codigo: 55,
                categoria: "Celular"
            }, {
                nome: "Vivo",
                codigo: 15,
                categoria: "Celular"
            }, {
                nome: "Tim",
                codigo: 51,
                categoria: "Celular"
            }, {
                nome: "GVT",
                codigo: 25,
                categoria: "Fixo"
            }];
            //Adicionar o contato
            $scope.adicionarContato = function(contato) {
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
            };
            $scope.excluirContato = function(contatos) {
                $scope.contatos = contatos.filter(function(contato) {
                    // se contato.selecionado igual a false então retorna o contato
                    if (!contato.selecionado) {
                        return contato;
                    }
                });
            }
            $scope.isContatoSelecionado = function(contatos) {
                return contatos.some(function(contato) {
                    // se contato.selecionado então retorna true
                    return contato.selecionado;
                });
            }
        });
    </script>
</head>
<!-- declara onde começa o -->

<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <!-- A interpolação ou a utilização do ng-bind busca o atributo do $scope -->
        <h4>{{app}}</h4>
        <!-- Ou <h4 ng-bind="app"></h4> -->
        <table ng-show="contatos.length > 0" class="table">
            <tr>
                <th>
                    Selecionado
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Telefone
                </th>
                <th>
                    Operadora
                </th>
            </tr>
            <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos">
                <td>
                    <input type="checkbox" ng-model="contato.selecionado">
                </td>
                <td>
                    {{contato.nome}}
                </td>
                <td>
                    {{contato.telefone}}
                </td>
                <td>
                    {{contato.operadora.nome}}
                </td>
            </tr>
        </table>
        {{contato}}
        <!-- a utilização da ng-model adicionar/atribui o atributo ao $scope -->
        <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" />
        <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone" />
        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.codigo as operadora.nome for operadora in operadoras"></select>
        <!-- utilizar o ng-options é a melhor opção quando necessitamos saber o elemente selecionado em um select, o ng-repeat é mais simples -->
        <!--
        Algumas formas alternativas e quem sabe interessantes de utilizar o ng-options:
          1: ng-options="operadora.nome group by operadora.categoria for operadora in operadoras" = onde estou criando uma categoria e ordenando atraves dela, exemplo: fixo ou movel
          2: ng-options="operadora.codigo as operadora.nome for operadora in operadoras" = formas diferente de popular
        -->

        <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
        <button class="btn btn-danger btn-block" ng-click="excluirContato(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Excluir Contato</button>
        <!-- ng-disabled utilizado para desabilitar um campo, se utiliza de uma expressão -->
        <!-- sobre a expressão: se contato.nome != undefined ou contato.telefone != undefined então abiliza o botão -->
        <!-- ng-disabled="!isContatoSelecionado(contatos)" : se não tem contato selecionado -->
        </br>
        {{contato.nome}} {{contato.telefone}}

    </div>
</body>

</html>
